h1 {
    background-color: white;
}

canvas {
    border: 1px solid black;
    background: black;
    background-image: url('http://1986.1.9.pic.centerblog.net/4d63ab43.jpg');  
}
#board{
    width: 700px;
    height: 1200px;
}