h1 {
    background-color: white;
}

canvas {
    border: 1px solid black;
    background: white;
    background-image: url('http://1986.1.9.pic.centerblog.net/4d63ab43.jpg');  
  }

  board{
      height: 450;
      width: 700;
  }

